<% provide(:title, 'Contacts') %>
<h1>Contacts</h2>
<p>
Herein lies a page dedicated exclusivly to 
being a contact page
if this website were more popular there would be millions of contacts here
too bad it isnt. so heres a contact... Queen Latifa 555 KLONDIKE
</p>
